.container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  width: 100%;
  background-color: red;
  oder: 1;
}
.header_inner {
  width:100%;
  display: flex;
}
.logo {
}
.title {
  float: right;
  color: green;
  /*flex-grow: 3*/
}

.beNice {
  font-weight: bold;
  color: red;
}

.works {
  display: flex;
}

.project {
  width: 33.3%;
  padding: 10px;
  text-align: center;
}

.projectTitle {
  font-size: 2em;
}

.projectCover {
  border: 1px solid green;
  width: 300px;
  height: 200px;
  background-image: url(./placeholder/dummy-300x200-Balconies.jpg);
  background-size: auto;
}
